.about-me-container h2 {
    margin: .5em auto .1em;
    text-align: center;
    font-size: clamp(var(--header-min), var(--header-pref), var(--header-max));
}

.about-me-container p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(var(--p-min), var(--p-pref), var(--p-max));
}