.landing-container {
    position: relative;
}

.landing-img {
    object-fit: cover;
    opacity: .8;
}

.landing-text {
    position: absolute;
    width: 100%;
    padding: 2em;
    text-align: center;
    bottom: 75px;
    color: white;
    text-shadow:
        -1px -1px 0 var(--text-shadow),
        1px -1px 0 var(--text-shadow),
        -1px 1px 0 var(--text-shadow),
        1px 1px 0 var(--text-shadow);
}

.landing-text h1 {
    margin: 0;
    font-size: clamp(26px, 10vw, 80px);
}

.landing-est {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
    text-shadow:
        -1px -1px 0 var(--text-shadow),
        1px -1px 0 var(--text-shadow),
        -1px 1px 0 var(--text-shadow),
        1px 1px 0 var(--text-shadow);
}