label, input, textarea {
    display: block;
    margin: 0 auto .5em;
    width: 100%;
}

.contact-button {
    width: 33%;
}

.contact-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(var(--p-min), var(--p-pref), var(--p-max));
}

.contact-container h2 {
    font-size: clamp(var(--header-min), var(--header-pref), var(--header-max));
    margin: .5em auto .1em;
}

.contact-container p {
    margin: 0 auto .5em;
}