label,
input,
textarea {
    display: block;
    margin: 0 auto .5em;
    width: 100%;
    max-width: 675px;
}

input,
textarea {
    border: 1px solid var(--border-color);
}

.contact-button {
    all: unset;
    width: 33%;
    max-width: 160px;
    margin-bottom: .5em;
    border: 1px solid var(--light-brown);
    border-radius: 10px;
    background-color: var(--light-brown);
    cursor: pointer;
}

.contact-button:hover {
    color: white;
    background-color: black;
}

.contact-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(var(--p-min), var(--p-pref), var(--p-max));
}

.contact-container h2 {
    font-size: clamp(var(--header-min), var(--header-pref), var(--header-max));
    margin: .5em auto .1em;
}

.contact-container p {
    margin: 0 auto .5em;
}