header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2px 8px;
    z-index: 2;
    transition: all 0.3s ease;
}


.header-background {
    background-color: var(--light-brown);
    opacity: .9;
    border-bottom: 1px solid var(--border-color);
}

header a {
    text-decoration: none;
}